body {
    margin: 0;
    font-family: sans-serif;
}

#container {
    background-color: #0946c0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 28em;
    width: 100%;
    background-color: #fcfaee;
    border-radius: 1em;
    padding: 1em;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    background-color: #ededea;
    border-radius: 1em;
    max-width: 24em;
    width: 100%;
    margin: 1em;
}

#input-display {
    background-color: #ededea;
    font-size: larger;
    outline: none;
    border: none;
    border: none;
    border-radius: 1em;
    padding: 0.4em 1em;
    max-width: 25em;
    width: 100%;
}

#pin-button {
    background-color: #d20326;
    color: #fcfaee;
    font-weight: bold;
    font-size: larger;
    border: none;
    border-radius: 1em;
    padding: 0.4em 1em;
    border-radius: 1em;
}

#pin-button:hover {
    background-color: #dc092c;
}

#pin-button:active {
    background-color: #b60522;
}

#list-input li {
    list-style-type: none;
}